/Ejemplo2/nbproject/private/
/Ejemplo1/build/
/Ejemplo2/build/
/Genericas/nbproject/private/
/Ejemplo3/nbproject/private/
/Ejemplo3/build/
/Practica1/nbproject/private/
/Practica1/build/
/Practica1/dist/
/Practica2/nbproject/private/
/Practica2/build/