/Ejemplo2/nbproject/private/
/Ejemplo1/build/
/Ejemplo2/build/
/Genericas/nbproject/private/
/Ejemplo3/nbproject/private/
/Ejemplo3/build/
/Practica1/nbproject/private/
/Practica1/build/
/Practica1/dist/
/Practica2/nbproject/private/
/Practica2/build/
/Practica3/nbproject/private/
/Practica3/build/
/Ejemplo5/nbproject/private/
/Ejemplo5/build/
/Practica4/nbproject/private/
/Practica4/build/
/Ejemplo6/nbproject/private/
/Ejemplo6/build/
/Practica5/nbproject/private/
/Practica5/build/